// spotlight starts here
.shr.spotlight
  p  Welcome Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit beatae tempora perspiciatis sapiente, distinctio ex accusantium nihil ea optio unde maiores, maxime inventore, rerum! Commodi ducimus voluptatem sunt incidunt dolorem.
// spotlight ends here