extend ../pages/shared/_master
block body
  .container
    .row
      .col-md-24
        block col1
  section
    .container
      .row
        .col-md-24
          block col2
  .container
    .row
      .col-md-24
        block col3
