include _mixin
doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Flip Frontend template
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include _styleLinks
    block header
  body(role="document")
    include _header
    block body
    include _footer    
    include _scriptLinks
    block footer
